---
title: ""
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Suvius' Homepage - Fund Me</title>
    <script src="js/script.js"></script>
    <script src="js/the_preventer.js"></script>
    <meta name="description" content="Fund me page">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include fonts.html %}
    <link rel="stylesheet" href="css/fund.css">
</head>
<body>
    {% include navbar.html %}
    <main>
        <h1>Support My Work</h1>
        <p>Your support enables me to continue my creative and individual endeavors. Thank you for considering a contribution!</p>
        <a href="https://ko-fi.com/suvius" target="_blank" class="kofi-button">
            <img src="https://storage.ko-fi.com/cdn/brandasset/kofi_bg_tag_dark.png" alt="Buy Me a Coffee at ko-fi.com" />
        </a>
    </main>
</body>
</html>
