---
title: ""
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Suvius' homepage</title>
    <script src="js/the_preventer.js"></script>
    <meta name="description" content=" A portfolio website" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include fonts.html %}
    <link rel="stylesheet" href="css/index.css">
</head>


<body>
    <!-- <div id="bg-low-res" style="background-image: url('images/main_background_lowres.jpg');"></div> -->
    <!-- <div id="bg-high-res" style="background-image: url('images/main_background.jpg');"></div> -->
    <!-- <script src="js/load_background.js"></script> -->
    {% include navbar.html %}
    <main>
        <em class="intro-emphasis">heyo!!, I'm<h1 class="intro-name"><strong>Suvius</strong></h1></em>
        <section id="about">
            <p>Hello and welcome to my personal corner of the internet! 🌐 I'm an 19-year-old passionate about all
                things development, modding, making games and coding in general. Here, you'll find a glimpse into my
                world of creativity and problem-solving. Join me on this digital journey as I share my projects, ideas,
                and experiences. I've cultivated a deep appreciation for the art of creation. Explore, enjoy, and feel
                free to reach out! 👋💻</p>
        </section>
    </main>
</body>


</html>