<link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/navbar.css">

<header>
    <nav>
        <img src="images/pfp.png" title="an image of myself.">
        <ul class="navelems">
            <a href="#about">
                <li>about</li>
            </a>
            <a href="projects">
                <li>projects</li>
            </a>
            <a href="social">
                <li>social</li>
            </a>
            <a href="fund" id="fund">
                <li>❤︎ fund</li>
            </a>
        </ul>
    </nav>
</header>